/* ------------------------ MAIN ------------------------*/
body {
    width: 100vw;
}
main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
h1, #visits {
    text-align: center;
}
/* ------------------------ LANDMARK CARDS ------------------------*/
section {
    display: grid;
    grid-template-areas: 
    "name"
    "image"
    "description"
    "address"
    "button";
    border: 1px solid #454f4541;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: #e7ededc4;
}
h2 {
    grid-area: name;
    margin: 0.5rem;
    text-align: center;
    padding: 0.75rem;
}
figure {
    grid-area: image;
    width: 100%;
    margin: 0;
}
figure img {
    width: 100%;
    height: auto;
}
section p {
    grid-area: description;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
}
address {
    grid-area: address;
    padding: 0.5rem;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}
button {
    margin: 0.5rem auto;
    border: none;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    min-width: 90%;
    grid-area: button;
}
button:hover {
    background-color: var(--primary);
}
/* ------------------------ XL VIEW ------------------------*/
@media only screen and (min-width:64rem) {
    #areas {
        display: grid;
	    grid-template-columns: 1fr 1fr;
    }
}