@media only screen and (min-width:38rem) {
    header {
        grid-template-columns: 35px auto 1fr;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: flex-end;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .navigation a {
        padding: 0 0.5rem 0 0.5rem;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ------------------------ HOME PAGE SECTIONS ------------------------*/
    .sections {
        display: flex;
        flex-direction: row;
    }
    .events {
        max-width: 500px;
    }
    /* ------------------------ JOIN PAGE ------------------------*/
    .join-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    /* ------------------------ DISCOVER PAGE MEDIUM ------------------------*/
    #areas section {
        display: grid;
        grid-template-areas: 
        "name name"
        "image description"
        "image address"
        "button button";
    }
    #areas h2 {
        text-align: left;
        margin: 0.5rem 0;
        padding-left: 0.5rem;
    }
    #areas p {
        text-align: left;
    }
    #areas address {
        text-align: left;
    }
    #areas figure img:hover {
        box-shadow: 0 0 10px #454f45b4;
    }
}