/* ------------------------ ALL ------------------------*/
img {
    width: 100%;
    height: auto;
}
h3 {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
p {
    padding: 10px;
}
.italics {
    font-style: italic;
}
main, main div, dialog {
    max-width: 100vw;
}
/* ------------------------ NOTE SECTION ------------------------*/
.notes {
	margin: 1rem auto;
	padding: 1rem;
	background-color: #405379;
	display: flex;
	flex-direction: column;
    border-radius: 0.25rem;
}
label {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
input,
button {
	padding: 0.5rem;
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
textarea {
    min-height: 100px;
    resize: none;
    font-family: var(--body-font-family);
    padding: 5px;
    border-radius: 0.25rem;
}
#submit-note {
	margin: 0.5rem;
    justify-content: center;
    font-family: var(--body-font-family);
    background-color: rgba(0, 0, 0, 0.455);
    padding: 0.5rem;
    border-radius: 0.25rem;
}
#submit-note:hover {
    background-color: var(--primary-color);
    color:black;
}
.delete {
    font-size: 1.3rem;
}
.delete:hover {
    color: red;
}
.input {
	display: flex;
	gap: 1rem;
}
#note-list {
    padding: 0.5rem;
    font-size: 1.125rem;
}
.list {
	padding: 0.5rem;
}
.notes ul {
	margin: 1rem;
	list-style: none;
    font-family: var(--body-font-family)
}
.notes li {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.455);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
/* ------------------------ PREVIOUS PAINTINGS ------------------------*/
figure {
    max-width: 300px;
}
figure img:hover {
    box-shadow: 0 0 10px #c9d6f2;
    cursor: pointer;
}
#previous-paintings {
    display:grid; 
    grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
}
dialog[open] {
    margin: auto;
    max-width: 900px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
}
dialog div {
    display: grid;
    grid-template-columns: 1fr 44px;
    grid-column: 1 / 3;
}
dialog img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    align-content: center;
    justify-content: center;
}
dialog p {
    align-content: center;
    justify-content: center;
}
dialog button {
    font-size: 1.5rem;
    padding: 0.25rem;
    font-family: var(--body-font-family);
    font-weight: bold;
}
dialog button:hover {
    color: var(--accent-color);
}
dialog h3 {
    font-style: normal;
    font-size: 1.5rem;
}

/* ------------------------ LARGE VIEW ------------------------*/

@media (min-width: 55em) {
main {
    max-width: none;
    padding: 0.5rem;
}
.painting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
}
.painting-image, .painting-p {
    align-content: center;
}
.painting-p {
    margin-left: 0.5rem;
}
.notes {
    max-width: 900px;
}
#previous-paintings {
    padding: 1rem;
    margin: 1rem auto;
}
dialog[open] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}